* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.projects {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.carteContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.mySwiper {
  padding: 20px 0;
  width: 100%; 
}

.swiper-slide {
  display: flex;
  justify-content: center; 
}

.project-card {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  text-align: left;
  transition: transform 0.3s ease;
  max-width: 100%; 
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  aspect-ratio: 16 / 9;
}

.btn-github {
  background-color: #8E92EE;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block; 
  margin: 10px auto; 
}

.btn-github:hover {
  background-color: #777adc;
}

.language {
  font-size: 1em;
  font-weight: bold;
  color: #074dd8;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  border: #0393e0 1px solid;
}

.custom-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-swiper-button-prev, .custom-swiper-button-next {
  background-color: #0393e0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.custom-swiper-button-prev:hover, .custom-swiper-button-next:hover {
  background-color: #777adc;
}

h2{
  color: #fff;
  font-size: 2rem;
}

h3{
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 640px) {
  .swiper-slide {
    width: 100%; 
  }

  .project-card {
    width: 90%; 
    padding: 10px;
    font-size: 0.9em;
  }

}

@media (min-width: 641px) and (max-width: 1023px) {
  .project-card {
    padding: 15px;
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .project-card {
    padding: 20px;
    font-size: 1.1em;
  }
}

@media (min-width: 641px) and (max-width: 1023px) {
  .language {
    font-size: 0.9em;
    padding: 4px 9px;
  }
}

@media (min-width: 1024px) {
  .language {
    font-size: 1em;
    padding: 5px 10px;
  }
}
